HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# 환경 변수 파일 무시하기
.env

# 가상 환경 폴더 제외
dog_behavior_env/

# Python 캐시 파일
__pycache__/
*.py[cod]

# 로그 파일 및 임시 파일
*.log
*.tmp

# Jupyter Notebook 체크포인트
.ipynb_checkpoints/

# 빌드 결과물
build/
dist/
*.egg-info/
