body {
    background-color: #FFFEF0;
    color: #4D3E3E;
}

#calendar {
    height: 600px; /* 캘린더 높이 조정 */
    width: 700px;  /* 캘린더 너비 조정 */
    margin-top: 20px; /* 제목과의 간격 조정 */
    border: 1px solid #ddd; /* 테두리 설정 */
    border-radius: 8px; /* 모서리를 둥글게 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    background-color: #E7E7E7; /* 캘린더 배경색 */
}

.fc {
    font-family: 'Arial', sans-serif; /* 폰트 설정 */
}

.fc-toolbar {
    background-color: #E7E7E7; /* 툴바 배경색 */
    color: black; /* 툴바 텍스트 색상 */
    padding: 10px; /* 툴바 여백 */
    border-top-left-radius: 8px; /* 상단 왼쪽 모서리 둥글게 */
    border-top-right-radius: 8px; /* 상단 오른쪽 모서리 둥글게 */
}

/* 제목 및 제목 아래 선 스타일 */
#title {
    text-align: center; /* 제목 중앙 정렬 */
    padding-top: 20px; /* 상단 여백 줄임 */
}

.titleLine {
    margin-top: 10px; /* 제목과 선 간격 줄임 */
    margin-left: 100px;
    margin-right: 100px;
}

/* 기록 리스트 조정 */
.diaryList {
    height: 600px; /* 캘린더 높이 조정 */
    width: 700px;  /* 캘린더 너비 조정 */
    margin-top: 20px; /* 제목과의 간격 조정 */
    border: 1px solid #ddd; /* 테두리 설정 */
    border-radius: 8px; /* 모서리를 둥글게 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    background-color: #E7E7E7; /* 캘린더 배경색 */
    text-align: end;
}


/* 헤더에 더 두꺼운 선 */
.diaryList th {
    border-bottom: 2px solid #000;  /* 테이블 헤더에 두꺼운 줄 */
    border-bottom-color: #9ca3af;

}
.diaryList td {
    border-bottom: 2px solid #000 ;  /* 테이블 헤더에 두꺼운 줄 */
    text-align: center;
    border-bottom-color: #9ca3af;

}

#writeButton{
    display: block;
    margin-left: auto;
    margin-top: 370px;
    font-weight: bold;
    font-size: large;
}
.header{
    padding-bottom: 4px;
}
.listType{
    font-size: x-large;
}
.pageName{
    padding-top: 50px;
    border-bottom: 2px solid #000;
}
#dateFilter{
    background-color:#E7E7E7 ;

}

