<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/resource/dist/styles.css" th:href="@{/resource/dist/styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".head_profile").click(function (event) {
            event.stopPropagation();
            $(".head_profile_bar").removeClass("tw-hidden");
        });
        $(document).click(function () {
            $(".head_profile_bar").addClass("tw-hidden");
        });
    });
</script>
<div class="tw-fixed tw-h-[60px] tw-w-full tw-z-20" style="background-color: #4D3E3E;">
    <div class="tw-container tw-mx-auto tw-flex tw-justify-between tw-items-baseline">
        <a href="../home/main" class="tw-text-white tw-text-2xl tw-pl-[20px]">TailsRoute</a>
        <div class="tw-w-[700px] tw-h-[60px]">
            <ul class="tw-flex tw-h-[60px] tw-items-center">
                <li class="tw-flex-1 tw-h-full">
                    <a href="../hospital/main"
                       class="tw-text-white tw-cursor-pointer tw-p-2.5 tw-py-2 tw-block tw-w-full tw-h-full tw-flex tw-items-center tw-justify-center tw-border tw-border-transparent hover:tw-border-white">병원</a>
                </li>
                <li class="tw-flex-1 tw-h-full">
                    <a href="../article/community"
                       class="tw-text-white tw-cursor-pointer tw-p-2.5 tw-py-2 tw-block tw-w-full tw-h-full tw-flex tw-items-center tw-justify-center tw-border tw-border-transparent hover:tw-border-white">커뮤니티</a>
                </li>
                <li class="tw-flex-1 tw-h-full">
                    <a href="../diary/list"
                       class="tw-text-white tw-cursor-pointer tw-p-2.5 tw-py-2 tw-block tw-w-full tw-h-full tw-flex tw-items-center tw-justify-center tw-border tw-border-transparent hover:tw-border-white">일상기록</a>
                </li>
                <li class="tw-flex-1 tw-h-full">
                    <a href="../shopping/page"
                       class="tw-text-white tw-cursor-pointer tw-p-2.5 tw-py-2 tw-block tw-w-full tw-h-full tw-flex tw-items-center tw-justify-center tw-border tw-border-transparent hover:tw-border-white">쇼핑</a>
                </li>
                <li class="tw-flex-1 tw-h-full">
                    <a href="../health/page"
                       class="tw-text-white tw-cursor-pointer tw-p-2.5 tw-py-2 tw-block tw-w-full tw-h-full tw-flex tw-items-center tw-justify-center tw-border tw-border-transparent hover:tw-border-white">건강관리</a>
                </li>
                <li class="tw-flex-1 tw-h-full">
                    <a href="../missing/list"
                       class="tw-text-white tw-cursor-pointer tw-p-2.5 tw-py-2 tw-block tw-w-full tw-h-full tw-flex tw-items-center tw-justify-center tw-border tw-border-transparent hover:tw-border-white">실종</a>
                </li>
            </ul>
        </div>
        <div class="head_profile tw-cursor-pointer tw-text-white tw-text-lg tw-relative" th:if="${!isLogined}"><a
                href="../member/login" class="tw-mr-[30px]">로그인</a></div>
        <div class="head_profile tw-cursor-pointer tw-text-white tw-text-lg tw-relative" th:if="${isLogined}">
            <div th:if="${member.extra__dogPoto == null}" class="tw-mr-[30px]">프로필</div>

            <img th:if="${member.extra__dogPoto != null}" th:src="@{${member.extra__dogPoto}}" alt="Profile Image"
                 class="tw-w-[45px] tw-h-[45px] tw-rounded-full tw-mr-[30px] tw-mb-[5px] tw-inline-block tw-border tw-border-transparent hover:tw-border-white"/>

            <div class="tw-hidden head_profile_bar tw-z-30 tw-cursor-default tw-mt-[15px] tw-absolute tw-w-[400px] tw-h-[350px] tw-bg-[#FFF3CD] tw-border tw-border-[#4D3E3E] tw-rounded-[30px] tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-2 tw-right-0">
                <div class="head_profile_id tw-text-[#4D3E3E]" th:text="${member.getLoginId}">user01</div>
                <img th:if="${member.extra__dogPoto != null}" th:src="@{${member.extra__dogPoto}}" alt="Profile Image"
                     class="head_profile_image tw-w-[100px] tw-h-[100px] tw-border tw-border-[#4D3E3E] tw-rounded-full"/>
                <img th:if="${member.extra__dogPoto == null}"
                     th:src="@{/resource/photo/default.png}"
                     alt="Default Profile Image"
                     class="head_profile_image tw-w-[100px] tw-h-[100px] tw-border tw-border-[#4D3E3E] tw-rounded-full"/>
                <div class="head_profile_text tw-text-[#4D3E3E]" th:text="|안녕하세요, ${member.getNickname}님|">안녕하세요, 콩이의
                    대장님.
                </div>
                <a href="../member/myPage"
                   class="tw-no-underline tw-border tw-border-[#4D3E3E] tw-text-[#4D3E3E] tw-p-2.5 tw-px-5 tw-rounded-full tw-transition-colors tw-duration-300 tw-mb-2 hover:tw-bg-[#E6DCA8]">내
                    정보</a>
                <div class="tw-flex tw-gap-2 tw-mb-[10px]">
                    <a href="../dog/add"
                       class="tw-no-underline tw-text-center tw-border tw-border-[#4D3E3E] tw-text-[#4D3E3E] tw-w-[170px] tw-p-2.5 tw-px-5 tw-rounded-l-full tw-transition-colors tw-duration-300 hover:tw-bg-[#E6DCA8]">
                        <i class="fa-solid fa-circle-plus"></i> 반려견 추가
                    </a>
                    <!--로그아웃 주소 http://localhost:8081/usr/member/doLogout 이걸로 했는데 바꿀거면 아래 href 수정하면돼-->
                    <a href="../member/doLogout"
                       class="tw-no-underline tw-text-center tw-border tw-border-[#4D3E3E] tw-text-[#4D3E3E] tw-w-[170px] tw-p-2.5 tw-px-5 tw-rounded-r-full tw-transition-colors tw-duration-300 hover:tw-bg-[#E6DCA8]">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i> 로그아웃
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
