<div class = "header">
<th:block th:replace="usr/common/head"/>
</div>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>PetdiaryWrite</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/resource/css/diary/DiaryWrite.css">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link href="https://unpkg.com/@fullcalendar/core@5.10.1/main.css" rel="stylesheet" />
    <link href="https://unpkg.com/@fullcalendar/daygrid@5.10.1/main.css" rel="stylesheet" />
    <script src="https://unpkg.com/@fullcalendar/core@5.10.1/main.js"></script>
    <script src="https://unpkg.com/@fullcalendar/daygrid@5.10.1/main.js"></script>

</head>

<body >


<form  id = "diaryContent" action="/usr/diary/write" method="post" enctype="multipart/form-data">
    <input type="hidden" name="memberId" value="1" >

    <div class="flex items-center justify-center  ">
        <input type="text" name="title" placeholder="제목을 입력해주세요." class="input-hidden ">
    </div>

    <div class="upload-container text-center mb-6">
        <div id="preview" class="w-full h-64 bg-white relative overflow-hidden">
            <div id="uploadContent" class="text-center flex flex-col items-center justify-center w-full h-full">
                <button type="button" id="fileBtn" class="text-white px-4 py-2 rounded-lg mb-2" style="background-color:#696969">이미지 업로드</button>
                <p class="fileInput-text text-gray-500 text-xl font-bold">또는 파일 놓기.</p>
                <input type="file" name="file" id="fileInput" accept="image/*" class="hidden" />
            </div>
            <img id="imagePreview" class="absolute inset-0 hidden w-full h-full object-cover" alt="Image Preview" />
        </div>
        <script src="/resource/js/diary/DiaryWrite.js"></script>
    </div>


        <div class="textarea-container ">
            <textarea name="body" id="body" placeholder="내용을 입력하세요" class="w-full p-4 border border-gray-300 rounded-lg mb-6 text-center" rows="10" required></textarea>
        </div>

        <nav class="medicine">
            <h2 id= "medicineTitle" class="mb-3 text-3xl font-bold">복용약 정보</h2>

            <hr>

            <div>
                <label for="startDate">복용 시작일</label>
                <input type="date" name="startDate" id="startDate">
            </div>
            <div>
                <label for="endDate">복용 종료일</label>
                <input type="date" name="endDate" id="endDate">
            </div>
            <div>
                <label for="TakingTime"> 복용 시간 </label>
                <input type="time" name="takingTime" id="TakingTime">
            </div>

            <div>
                <label for="information">복용약 정보 및 특이사항 </label>
                <textarea id="information" placeholder="복용약 정보 및 특이사항" name="information" class="w-full p-4 border border-gray-300 rounded-lg mb-6 text-center" rows="10" required></textarea>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <button id="SubmitButton" type="submit" class="text-white px-4 py-2 rounded-lg mb-2" style="background-color:#696969">작성</button>
            </div>
        </nav>


</form>

</body>
</html>