<th:block th:replace="usr/common/head"/>
<head>
    <title>Lost Pet Report & Alerts</title>
    <link rel="stylesheet" href="/resource/css/missingList.css"/>
</head>
<body>
<script src="/resource/js/missingList.js"></script>
<div class="title">Lost Pet Report & Alerts</div>
<div class="profile tw-p-5">
    <div class="profile_title" th:text="|total : ${totalCnt}개|">페이지 수</div>
    <div class="tw-pl-5">
        <select class="str tw-border-box tw-p-2" id="str" name="str" required
                onchange="location.href='list?page=1&str=' + this.value;">
            <option value="${str}" th:text="${str}"></option>
            <option th:if="${str != '전체'}" value="전체">전체</option>
            <option th:if="${str != '인천'}" value="인천">인천광역시</option>
            <option th:if="${str != '서울'}" value="서울">서울특별시</option>
            <option th:if="${str != '경기'}" value="경기">경기도</option>
            <option th:if="${str != '강원'}" value="강원">강원도</option>
            <option th:if="${str != '충남'}" value="충남">충청남도</option>
            <option th:if="${str != '세종'}" value="세종">세종특별자치시</option>
            <option th:if="${str != '대전'}" value="대전">대전광역시</option>
            <option th:if="${str != '충북'}" value="충북">충청북도</option>
            <option th:if="${str != '전북'}" value="전북">전라북도</option>
            <option th:if="${str != '대구'}" value="대구">대구광역시</option>
            <option th:if="${str != '울산'}" value="울산">울산광역시</option>
            <option th:if="${str != '경북'}" value="경북">경상북도</option>
            <option th:if="${str != '전남'}" value="전남">전라남도</option>
            <option th:if="${str != '광주'}" value="광주">광주광역시</option>
            <option th:if="${str != '경남'}" value="경남">경상남도</option>
            <option th:if="${str != '부산'}" value="부산">부산광역시</option>
            <option th:if="${str != '제주도'}" value="제주도">제주특별자치도</option>
        </select>
    </div>
    <a class="misssing_write" href="../missing/write">글 작성</a>
</div>
<div class="misssing_list">
    <a class="misssing_item tw-ml-[12px] tw-mb-[12px]" th:href="@{'../missing/detail?missingId='+${missing.id}}" th:each="missing : ${missings}">
        <img th:src="@{${missing.photo}}" alt="Misssing Image" class="misssing_image"/>
        <label class="tw-pl-[9px]">이름</label>
        <div th:text="${missing.name}" class="tw-pl-[9px] tw-pb-[9px] tw-inline-block tw-font-bold"></div>
        <br/>
        <label class="tw-pl-[9px]">정보</label>
        <div th:if="${missing.age != '불명'}"  th:text="|${missing.gender} / ${missing.age}개월 / ${missing.breed}|"
             class="tw-pl-[9px] tw-pb-[9px] tw-inline-block tw-font-bold"></div>
        <div th:if="${missing.age == '불명'}" th:text="|${missing.gender} / ${missing.age} / ${missing.breed}|"
             class="tw-pl-[9px] tw-pb-[9px] tw-inline-block tw-font-bold"></div>
        <br/>
        <label class="tw-pl-[9px]">실종 날짜</label>
        <div th:text="|${missing.reportDate.substring(0, 13)}시경|"
             class="tw-pl-[9px] tw-pb-[9px] tw-inline-block tw-font-bold"></div>
        <br/>
        <label class="tw-pl-[9px]">실종 장소</label>
        <div th:text="${missing.missingLocation.split(' ')[0]}"
             class="tw-pl-[9px] tw-pb-[9px] tw-inline-block tw-font-bold"></div>
        <br/>
    </a>
</div>


<div class="pagination tw-flex tw-justify-center tw-items-center" th:if="${totalPage != 0}">
    <a class="pagination_left tw-p-[10px]" th:href="@{'list?page=' + ${lpage} + 'srt='+${srt}}">
        <i class="fa-solid fa-caret-left" style="font-size: 70px;"></i>
    </a>

    <div class="tw-flex tw-justify-center tw-items-center" th:block
         th:with="paginationLen=3, startPage=${page - paginationLen >= 1} ? ${page - paginationLen} : 1, endPage=${page + paginationLen <= totalPage} ? ${page + paginationLen} : ${totalPage}">
        <!-- 처음 페이지로 이동 -->
        <div th:if="${startPage > 1}">
            <a class="tw-text-[50px] tw-pl-[10px] tw-pr-[10px]"
               th:href="@{'list?page=1&' + 'srt='+${srt}}">1</a>
        </div>

        <!-- 중간 생략 버튼 -->
        <div th:if="${startPage > 2}">
            <button class="tw-text-[50px] tw-pl-[20px] tw-pr-[20px]">...</button>
        </div>

        <!-- 페이지 번호 목록 -->
        <div th:each="i : ${#numbers.sequence(startPage, endPage)}">
            <a class="tw-text-[50px] tw-pl-[20px] tw-pr-[20px]"
               th:classappend="${page == i} ? 'tw-bg-white tw-rounded-full'" th:href="@{'list?page=' + ${i} + '&srt='+${srt}}"
               th:text="${i}"></a>
        </div>

        <!-- 중간 생략 버튼 -->
        <div th:if="${endPage < totalPage - 1}">
            <button class="tw-text-[50px] tw-pl-[20px] tw-pr-[20px]">...</button>
        </div>

        <!-- 마지막 페이지로 이동 -->
        <div th:if="${endPage < totalPage}">
            <a class="tw-text-[50px] tw-pl-[20px] tw-pr-[20px]"
               th:href="@{'list?page=' + ${totalPage} + '&srt='+${srt}}"
               th:text="${totalPage}"></a>
        </div>
    </div>

    <a class="pagination_right tw-p-[10px]" th:href="@{'list?page=' + ${rpage} + '&srt='+${srt}}">
        <i class="fa-solid fa-caret-right" style="font-size: 70px;"></i>
    </a>
</div>


</body>
</html>

